@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1; }

h2 {
  color: #558dfd;
  margin-bottom: 1rem; }

@media (max-width: 700px) {
  h2 {
    justify-content: center;
    text-align: center; } }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: #151a33;
  -webkit-font-smoothing: antialiased;
  color: whitesmoke; }

html {
  font-size: 62.5%; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem; }

nav {
  background: #28365f;
  padding: 1.6rem 0; }
  nav .inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav .inner .logo {
    /* text-transform: uppercase; */
    font-family: papyrus;
    color: #eff2f9;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-weight: 500; }
  nav .inner .logo {
    color: #4d79f6;
    margin-left: .5rem; }
  nav .inner button {
    background: #2b55cc;
    border: none;
    padding: 0.6rem 1rem;
    color: #eff2f9;
    font-size: 1.4rem;
    border-radius: .4rem; }

@media (max-width: 700px) {
  nav {
    padding: .8rem 0; }
    nav .inner {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    nav .inner .logo {
      /* text-transform: uppercase; */
      font-family: papyrus;
      color: #eff2f9;
      font-size: .9rem; }
    nav .inner button {
      display: none; } }

.profile {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 3rem;
  margin-top: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
  padding-bottom: 4rem;
  margin-bottom: 5rem; }
  .profile .left {
    flex: 2;
    display: flex;
    align-items: center; }
  .profile .right {
    flex: 1; }
  .profile .left h2 {
    color: #558dfd;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem; }
  .profile .left p {
    color: #8997bd;
    font-size: 14px; }
  .profile .left .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, #2b55cc, #1ecab8);
    -webkit-background: linear-gradient(to right, #2b55cc, #1ecab8); }
  .profile .left p b {
    padding-bottom: 1rem;
    font-weight: 400; }
  .profile .left img {
    width: 128px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover; }
  .profile .left .avatar__block {
    position: relative;
    margin-right: 2rem; }
  .profile .left .avatar__block span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: #4d79f6;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eff2f9;
    box-shadow: 0px 0px 0px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer; }
  .profile .right ul.contact {
    list-style-type: none;
    margin-bottom: 1.6rem; }
  .profile .right ul.contact li {
    color: #848db3;
    margin-top: .7rem;
    font-size: 14px; }
  .profile .right ul.contact li i {
    font-size: 18px;
    margin-right: 0.3rem; }
  .profile .right ul.socials {
    display: flex;
    align-items: center;
    list-style: none; }
  .profile .right ul.socials li {
    margin-right: 0.8rem;
    font-size: 2rem; }
  .profile .right ul.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #eff2f9;
    line-height: 36px;
    text-align: center; }
  .profile .right ul.socials li:nth-child(1) a {
    background: #2b55cc; }
  .profile .right ul.socials li:nth-child(2) a {
    background: #ff5da0; }
  .profile .right ul.socials li:nth-child(3) a {
    background: #4ac7ec; }

@media (max-width: 700px) {
  section.profile {
    padding: 1rem;
    margin-top: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    padding-bottom: 4rem;
    margin-bottom: 1rem; }
    section.profile .left h2 {
      font-size: 1.4rem; }
    section.profile .left p {
      font-size: 1.1rem; }
    section.profile .left p b {
      font-weight: 100; }
    section.profile .left img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      object-fit: cover; }
    section.profile .left .avatar__block {
      position: relative;
      margin-right: 1rem; }
    section.profile .left .avatar__block span {
      position: absolute;
      right: 2px;
      bottom: 2px;
      background: #4d79f6;
      width: 1.6rem;
      height: 1.6rem; }
    section.profile .left .cd-headline .cd-words-wrapper b:nth-child(3) {
      font-size: xx-small; }
    section.profile .left .cd-headline .cd-words-wrapper b:nth-child(2) {
      font-size: xx-small; }
    section.profile .right ul.contact {
      list-style-type: none;
      margin-bottom: 1.6rem; }
    section.profile .right ul.contact li {
      margin-top: .7rem;
      font-size: .5rem; }
    section.profile .right ul.contact li strong {
      display: none; }
    section.profile .right ul.contact li i {
      font-size: 1.2rem;
      margin-right: 0.3rem; }
    section.profile .right ul.socials li {
      margin-right: 0.4rem;
      font-size: 1rem; }
    section.profile .right ul.socials li a {
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1.8rem; } }

.professionalSummary {
  background-color: var(--dark);
  display: flex;
  padding: 2rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  border-bottom: 0.1rem solid #28365f; }
  .professionalSummary .leftSummary {
    flex: 1; }
    .professionalSummary .leftSummary p b {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .professionalSummary .leftSummary .dlCv {
      margin-top: 1.5rem; }
  .professionalSummary .rightSummary {
    flex: 1;
    margin-left: 8rem; }
    .professionalSummary .rightSummary .modal-title {
      color: #eff2f9; }
    .professionalSummary .rightSummary .modal-body {
      border-top: 1px solid #969393;
      border-bottom: 1px solid #969393; }
      .professionalSummary .rightSummary .modal-body .statsItems {
        list-style: none;
        color: #eff2f9; }
    .professionalSummary .rightSummary .modal-footer {
      border-top: none;
      display: flex;
      justify-content: space-between;
      padding-left: 6rem; }
      .professionalSummary .rightSummary .modal-footer .totalBox {
        font-size: 3rem; }
        .professionalSummary .rightSummary .modal-footer .totalBox .pTotal {
          font-size: 3rem; }
    .professionalSummary .rightSummary .counters:hover {
      cursor: pointer; }
    .professionalSummary .rightSummary .counters .head {
      margin-bottom: 3rem;
      text-align: center; }
    .professionalSummary .rightSummary .counters .stats-icon {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around; }
      .professionalSummary .rightSummary .counters .stats-icon .statsBox {
        display: grid;
        justify-content: center;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 2; }
      .professionalSummary .rightSummary .counters .stats-icon i {
        text-align: center;
        font-size: 4rem; }
      .professionalSummary .rightSummary .counters .stats-icon h3 {
        font-size: 1.2rem; }

@media (max-width: 700px) {
  .professionalSummary {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    margin-bottom: 2rem; }
    .professionalSummary .leftSummary p b {
      font-size: 1.2rem;
      margin-bottom: 1rem; }
    .professionalSummary .leftSummary .dlCv {
      margin-top: 2rem; }
    .professionalSummary .rightSummary {
      display: none;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 0;
      line-height: 3; }
      .professionalSummary .rightSummary .information {
        display: grid;
        grid-template-columns: 30% 5% 63%;
        font-size: 1.5rem; } }

.timeline {
  margin-left: .5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  border-bottom: 0.1rem solid #28365f;
  padding: 0 2rem; }
  .timeline .timeline-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem; }
  .timeline .timeline_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; }
    .timeline .timeline_content .modal-title {
      color: #eff2f9; }
    .timeline .timeline_content .modal-body {
      border-top: 1px solid #969393;
      border-bottom: 1px solid #969393; }
      .timeline .timeline_content .modal-body .statsItems {
        list-style: none;
        color: #eff2f9; }
    .timeline .timeline_content .timelines {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 5rem; }
      .timeline .timeline_content .timelines .timeline1,
      .timeline .timeline_content .timelines .timeline2 {
        margin: 0 auto;
        font-size: 1rem; }
        .timeline .timeline_content .timelines .timeline1 .study,
        .timeline .timeline_content .timelines .timeline2 .study {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 2rem; }
        .timeline .timeline_content .timelines .timeline1 .work,
        .timeline .timeline_content .timelines .timeline2 .work {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 2rem; }
        .timeline .timeline_content .timelines .timeline1 .timeline-body,
        .timeline .timeline_content .timelines .timeline2 .timeline-body {
          position: relative;
          margin-left: 10rem;
          border-radius: 0 8px 8px 0;
          padding: 5px 0; }
          .timeline .timeline_content .timelines .timeline1 .timeline-body::after,
          .timeline .timeline_content .timelines .timeline2 .timeline-body::after {
            content: "";
            width: 4px;
            height: 100%;
            background-color: #28365f;
            position: absolute;
            left: -4px;
            top: 0; }
          .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-item,
          .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item {
            position: relative; }
            .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-item::after,
            .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item::after {
              content: '';
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 4px solid #28365f;
              background-color: whitesmoke;
              position: absolute;
              left: -1.2rem;
              top: 4px;
              z-index: 9; }
            .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-item .time,
            .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .time {
              position: absolute;
              left: -8rem;
              top: 4px;
              opacity: .5;
              font-size: 1rem; }
            .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-item .content,
            .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .content {
              margin-left: 2rem;
              padding-bottom: 2rem;
              border-bottom: 1px dashed #555;
              font-size: 1.2rem;
              line-height: 1.2; }
            .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-item .title,
            .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .title {
              font-size: 1.3rem;
              margin-bottom: 1.5rem;
              text-decoration: none;
              color: #558dfd; }
        .timeline .timeline_content .timelines .timeline1 .Cognex:hover,
        .timeline .timeline_content .timelines .timeline1 .Sanmina:hover,
        .timeline .timeline_content .timelines .timeline1 .PCI:hover,
        .timeline .timeline_content .timelines .timeline2 .Cognex:hover,
        .timeline .timeline_content .timelines .timeline2 .Sanmina:hover,
        .timeline .timeline_content .timelines .timeline2 .PCI:hover {
          cursor: pointer; }
    .timeline .timeline_content .skills {
      grid-template-rows: auto;
      justify-content: center;
      text-align: center; }
      .timeline .timeline_content .skills .jobDescription {
        font-size: 1rem;
        max-width: 50rem; }
      .timeline .timeline_content .skills .skillSet {
        text-align: center;
        font-size: 2rem; }
      .timeline .timeline_content .skills .skillList {
        display: grid;
        justify-items: center;
        margin-top: 2rem;
        line-height: 1.5;
        text-align: left; }
        .timeline .timeline_content .skills .skillList .skill {
          margin-bottom: 1rem; }
          .timeline .timeline_content .skills .skillList .skill .label {
            color: #558dfd;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            margin-left: 2rem; }
          .timeline .timeline_content .skills .skillList .skill .ldBar-label {
            top: 80%; }
        .timeline .timeline_content .skills .skillList .skillTitle {
          font-size: 1.5rem;
          color: #558dfd; }
        .timeline .timeline_content .skills .skillList .sk1 path.mainline {
          stroke-width: 5; }
      .timeline .timeline_content .skills .js {
        font-size: 1.5rem; }
        .timeline .timeline_content .skills .js ion-icon {
          color: #28365f;
          margin-top: 1.5rem; }

@media (max-width: 700px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 5rem; }
    .timeline .timeline-title {
      text-align: center;
      justify-content: center; }
    .timeline .timeline_content {
      display: flex;
      flex-direction: column; }
      .timeline .timeline_content .timelines {
        display: flex;
        flex-direction: column-reverse; }
        .timeline .timeline_content .timelines .timeline1 {
          font-size: 1rem;
          margin-bottom: 2rem; }
          .timeline .timeline_content .timelines .timeline1 .study {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: .9; }
          .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-body .time {
            position: absolute;
            left: -8rem;
            top: 5px;
            opacity: .5;
            font-size: 1.3rem; }
          .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-body .content {
            margin-left: 1.5rem;
            padding-bottom: 2rem;
            border-bottom: 1px dashed #555; }
          .timeline .timeline_content .timelines .timeline1 .timeline-body .timeline-body .title {
            font-weight: 500;
            margin-bottom: 15px;
            color: #28365f;
            text-decoration: none; }
        .timeline .timeline_content .timelines .timeline2 {
          font-size: 1.4rem;
          margin-bottom: 2rem; }
          .timeline .timeline_content .timelines .timeline2 .work {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: .9; }
          .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .time {
            left: -10rem;
            font-size: 1.2rem; }
          .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .content {
            margin-left: 1.5rem;
            padding-bottom: 2rem;
            border-bottom: 1px dashed #555; }
          .timeline .timeline_content .timelines .timeline2 .timeline-body .timeline-item .title {
            font-weight: 500;
            margin-bottom: 15px;
            color: #28365f;
            text-decoration: none; }
      .timeline .timeline_content .skills {
        margin-bottom: 5rem;
        margin-top: -2rem;
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        line-height: 2; }
        .timeline .timeline_content .skills .skillSet {
          line-height: .9;
          font-size: 3rem;
          margin-bottom: 2rem; }
        .timeline .timeline_content .skills .skillTitle {
          font-size: 1.5rem;
          color: #28365f; }
        .timeline .timeline_content .skills .sk1 path.mainline {
          stroke-width: 5; }
        .timeline .timeline_content .skills .label-center {
          padding-bottom: .5rem; }
        .timeline .timeline_content .skills .label {
          color: whitesmoke;
          font-size: 1.6rem; }
        .timeline .timeline_content .skills .js {
          font-size: 1.5rem; }
          .timeline .timeline_content .skills .js ion-icon {
            color: #28365f;
            margin-top: 1.5rem; } }

section.work .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; }

section.work .wrapper .portfolio .tabs ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; }

section.work .wrapper .portfolio .tabs ul li a {
  color: #558dfd;
  border-bottom: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  letter-spacing: .2rem; }

section.work .wrapper .portfolio .tabs ul li a.active {
  border-color: #4d79f6;
  color: #4d79f6;
  transition: all .3s ease-in-out; }

section.work .wrapper .portfolio .portfolio_wrapper {
  margin-top: 4rem;
  display: flex; }

section.work .wrapper .portfolio .portfolio_wrapper .item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

section.work .wrapper .portfolio .portfolio_wrapper a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

footer {
  padding: 1.6rem 0;
  text-align: center;
  color: red; }

.downloadCV:link, .downloadCV:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  text-align: center;
  z-index: 10;
  margin: 0 10px 10px 0;
  width: 12.6rem;
  height: 2.712rem;
  line-height: 2.64rem;
  position: relative;
  font-size: 1.2rem;
  color: #f1f140;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  font-weight: bold;
  background-image: linear-gradient(#111, #000);
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.05), 0 0 3px rgba(255, 255, 255, 0.2); }

.downloadCV::after {
  z-index: -1;
  content: '';
  cursor: pointer;
  top: 0.144rem;
  margin-left: 50%;
  left: -6rem;
  width: 12rem;
  height: 2.4rem;
  position: absolute;
  background-image: linear-gradient(#444, #373738);
  box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.2), inset 0 -2px 1px -1px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

.downloadCV:hover {
  color: #b3b3a9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

.downloadCV:active {
  text-shadow: 0 -1px 0 black, 0 0px 30px #f1f140, 0 0px 50px #f1f140;
  color: #f1f140; }

.downloadCV:hover::after {
  background-image: linear-gradient(#545454, #373738); }

.downloadCV:active::after {
  background-image: linear-gradient(#262627, #2d2d2e);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.9), 0 0 0 black; }

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px; }

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0; }

@keyframes load {
  0% {
    width: 0; }
  100% {
    width: 90%; } }
