

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

h2 {
    text-decoration: underline;
    color: $dark-blue;
    margin-bottom: 1rem;
}
