

$primary: #1a253f;
$dark : #151a33;
$secondary : #2b55cc;
$info : #4d79f6;
$ternary : #848db3;
$pure : #eff2f9;
// $fade : #7081b9;
$fade : #558dfd;
$mild : #8997bd;
$footer : #212A4A;
$black: #060b1b;
$twitter: #4ac7ec;
$dribble : #ff5da0;
$success : #1ecab8;
$danger : #f1646c;
$dark-blue : #28365f;


// buttons
$color-primary: rgb(241, 241, 64);
$color-grey: rgb(179, 179, 169);

$btn_width: 12rem;
$btn_height:$btn_width * .2;

$btn_widthC: 5rem;
$btn_heightC:$btn_width * .2;


$black: #000;
$white: #fff;

// timeline
$primary: #4298C3;
$dark-1: #2F3331;
$dark-2: #252827;

// progress bars

// Color Variables 
$green: #75b800;
$gray-light: #eef1f3;

// Bar Variables 
$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0,0,0,0.075);