
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: $dark;
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
    
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;

}

@media(max-width:700px){
    body {
        // padding: .5rem;
        // overflow: hidden;
    }
}