nav {
    background: $dark-blue;
    padding: 1.6rem 0;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .inner .logo {
        /* text-transform: uppercase; */
        font-family: papyrus;
        color: $pure;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        font-weight: 500;    
    }
    
    .inner .logo {
        color: $info;
        margin-left: .5rem;
    }
    
    .inner button{
        background: $secondary;
        border: none;
        padding: 0.6rem 1rem;
        color: $pure;
        font-size: 1.4rem;
        border-radius: .4rem;
    }

}

@media(max-width:700px){
    nav {
        padding: .8rem 0;
    
        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .inner .logo {
            /* text-transform: uppercase; */
            font-family: papyrus;
            color: $pure;
            font-size: .9rem;
        }

        
        .inner button{
            display: none;
            // background: $secondary;
            // border: none;
            // padding: 0.6rem 1rem;
            // color: $pure;
            // font-size: 1.4rem;
            // border-radius: .4rem;
        }
    
    }
}

